.navbar {
    //background-color: #dcdbdb !important;
}

#navbar_content {
  .nav-item.active,
  .nav-item.dropdown.show {
    > .nav-link .fa {
      color: darken(#5fd4ae, 5%);
    }
  }
}

.navbar-nav > .nav-item > .nav-link {
    font-size: 18px;
}
