// Font Awesome
@import "~font-awesome/scss/font-awesome.scss";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~bootstrap-select/dist/css/bootstrap-select.css";
@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker.standalone.css";
@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker.css";
@import "~jquery-datetimepicker/jquery.datetimepicker.css";
@import "~select2/dist/css/select2.min.css";
@import "~select2-bootstrap-theme/dist/select2-bootstrap.min.css";
@import "~c3/c3.min.css";
@import "~bootstrap-select/dist/css/bootstrap-select.min.css";

@import "admin/navbar";

$publicPath: "/public";

.select2-container--bootstrap  .select2-selection{
    padding: .375rem 1.5rem;
    min-height: 54px;
    border: 1px solid #ced4da;
}

.select2-container--open .select2-dropdown--below {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__rendered {
    color: #555;
    padding: 0.6rem;
}

.top-menu {
  width: 80%;
  padding-top: 15px;
}

.well {
  background-color: #f5f6f8;
  box-shadow: none;
  padding: 10px;
  border-radius: 5px;
}

.panel-heading {
  border-radius: 5px;
  border: 1px solid #ced4da;
}

.panel-body {
  border-radius: 0 0 5px 5px;
  border: 1px solid #ced4da;
  border-top: none;
  padding: 20px;
}

.panel-title {
  padding: 12px 12px 5px 12px;
  margin-bottom: 10px;
}

.panel-default .panel-heading {
  background-color: #f5f6f8;
  color: #878e96;
  text-transform: uppercase;
}
.panel-default .panel-heading .panel-title {
  font-size: 14px;
  font-weight: bold;
}
.panel-default .panel-heading .panel-title a {
  color: #337ab7;
}

.breadcrumb {
  background: transparent;
  padding: 0px;
}
.list-padding {
  padding-top: 30px;
}
.list-padding li {
  padding-bottom: 15px;
  line-height: 1.2em;
}

.dropzone {
  min-height: 100px;
  background: #f2f2f2;
  border-radius: 6px;
  border: dashed 1px rgba(0,0,0,0.1);
  cursor: pointer;
}

.dropzone .dz-preview .dz-image {
  border-radius: 3px;
}

#photos {
  margin-top: 30px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 500;
}

label {
  font-weight: bold;
}

.stars {
  display: inline-block;
  unicode-bidi: bidi-override;
  direction: rtl;
}
.stars > span {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
}
.stars > span::before {
  padding-right: 2px;
}
.stars > span.star-empty::before {
  content: "\f006";
}
.stars > span.star-full::before {
  content: "\f005";
}
.stars > span.star-half::before {
  content: "\f123";
}

textarea.monospace {
  font-family: monospace;
  font-size: 12px !important;
}

table .fa.fa-male {
  color: deepskyblue;
}

table .fa.fa-female {
  color: hotpink;
}

table .fa.fa-ban {
  color: red;
}

table .fa.fa-check {
  color: limegreen;
}

table .fa.fa-times {
  color: red;
}

.tab-content {
  padding: 25px 15px 15px;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-top-color:transparent;
  border-radius: 0px 0px 3px 3px;
  margin-bottom: 15px;
}

table th {
  white-space: nowrap;
  border-top: none!important;
}
table th, table td {
  font-size: 85%;
}
table th, table td {
  font-size: 85%;
}
table td .btn-xs {
  font-size: 11px;
  line-height: 1.3;
}

.validation-rule-container {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 10px;
}

.filter-buttons {
  margin: 0 5px!important;
}

.editor {
  height: 400px;
}

a {
  text-decoration: none!important;
}

a.nav-link {
  font-size: 0.8rem;
}

.t-ba {
  max-width: 320px;
}

.text-bold {
  font-weight: bolder;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #e8ff3a;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.filter-label {
  padding-top: 5px;
  padding-right: 5px!important;
}

.filter-el {
  margin-right: 10px;
  max-width: 250px;
}

a.dotted, a.dotted:hover, a.dotted:focus {
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  color: #337ab7;
}

.filter-text-block {
  max-width: 155px;
  vertical-align: middle;
  font-size: 75%;
  margin-top: -5px;
}

.filter-button {
  margin-top: -5px;
  margin-bottom: 5px;
}

.check {
  margin: 10px;
}


.form-control::-moz-placeholder {
    color: #bab8b8;
}
.form-control:-ms-input-placeholder {
    color: #bab8b8;
}
.form-control::-webkit-input-placeholder {
    color: #bab8b8;
}
